
	#是否需要打包
	is_need_package=true

	#生产环境/开发环境证书设置
	code_sign_distribution="iPhone Distribution: xxx xxx (xxx)"
	code_sign_development="iPhone Developer: xxxx xxxx (xxx)"

	#项目的target/scheme设置 
	package_target_name="xxx"
	package_scheme_name="xxx"

	#打包结果根目录
	package_root_path=/Users/xxx/Desktop/Package/CarBusiness/
	#打包ipa目录
	package_archive_path=/Users/xx/Desktop/Package/CarBusiness/Archive/

	#打包类型  AdHoc：1 AppStore：2  Enterprise：3  Development：4
	package_export_type=1
	#打包存放的xxxExportOptions.plist文件夹
	package_export_options_dir_path=./Packaging/Plist/

	#是否使用workspace进行打包
	package_use_workspace=true
	#是否使用Release模式进行打包
	package_use_release=true

	#记录打包前缀
	record_perfix="CEG"

    #上传至云端指定文件夹
    upload_dir_path="xxx/"
    #上传电脑磁盘卷名
    upload_volumes_name="/Volumes/Macintosh\ HD"
	
